aside #newsBlock::-webkit-scrollbar-track {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

aside #newsBlock::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

aside #newsBlock::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #D62929;
}

